@font-face {
  font-family: "Bebas";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Bebas-Regular.woff2") format("woff2");
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.form__list {
  margin: 20px 10px;
  padding: 0;
  list-style: none;
}

.wrapper {
  width: 350px;
  border: 10px solid #ebebeb;
  background-color: #f8f8f8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__item:first-child {
  padding-bottom: 10px;
}

.form__item--total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.form__item + .form__item {
  border-top: 1px solid #ebebeb;
}

.plan {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #797979;
}

.plan__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.plan__icon-wrapper {
  display: inline-flex;
  align-items: center;
}

.plan__icon {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border: 4px solid #dadada;
  border-radius: 50%;
}

input[type="radio"]:checked + .plan__label .plan__icon {
  border-color: #35658e;
}

input[type="radio"]:checked + .plan__label .plan__icon::before {
  position: absolute;
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #0294bf;
  border-radius: 50%;
}

input[type="radio"]:checked + .plan__label {
  background-color: #ebf4f7;
  outline: 1px solid #daeaf0;
}

.plan__title {
  font-family: 'Bebas', cursive;
}

.plan__desc {
  font-size: 12px;
}

.form__item--number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  font-size: 10px;
}

.form__item--number label {
  margin-right: 10px;
}

.total__title,
.total__amount {
  font-size: 20px;
  font-family: 'Bebas', cursive;
}

.total__title {
  color: #797979;
}

.total__amount,
.total__measure {
  color: #3388a8;
}

.button {
  min-width: 130px;
  min-height: 30px;
  margin-top: 15px;
  padding: 0;
  font-size: 9px;
  line-height: 1;
  background-color: #33a845;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
}

.button:focus {
  outline: 2px solid #000000;
}

.info {
  margin-top: 35px;
  font-size: 14px;
  line-height: 1;
  color: #3388a8;
}

select {
  padding: 3px;
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid #3388a8;
}

select:focus {
  outline: 2px solid #000000;
}
